<fieldset class="design">
    <div class="design__intro">
        <i class="fa-regular fa-object-ungroup box--element icon-main design__icon"></i>
        <!--review-size-->
        <legend class="design__title"> Diseña
        </legend>
    </div>
    <i class="fa-solid fa-angle-up design__arrow js-arrow-up"></i>
    <!-- <i class="fa-solid fa-angle-down design__arrow js-arrow-down"></i> -->

    <!--Disappears when the menu is toggled-->
    <!--Same div?-->
    <p class="design__p"> Colores
    </p>
    <div class="design__palette">
        <div class="design__palette__box">
            <input class="design__palette__box--selector" type="radio" value="1" name="palette" checked />
            <div class="design__palette__box--1left minibox"></div>
            <div class="design__palette__box--1middle minibox"></div>
            <div class="design__palette__box--1right minibox"></div>
        </div>
        <div class="design__palette__box">
            <input class="design__palette__box--selector" type="radio" value="2" name="palette" />
            <div class="design__palette__box--2left  minibox"></div>
            <div class="design__palette__box--2middle minibox"></div>
            <div class="design__palette__box--2right minibox"></div>
        </div>
        <div class="design__palette__box">
            <input class="design__palette__box--selector" type="radio" value="3" name="palette" />
            <div class="design__palette__box--3left minibox"></div>
            <div class="design__palette__box--3middle minibox"></div>
            <div class="design__palette__box--3right minibox"></div>
        </div>
    </div>
</fieldset>