<fieldset class="design">
    <i class="fa-regular fa-object-ungroup box--element icon-main"></i>
    <!--review-size-->
    <legend class="design__title"> Diseña
    </legend>
    <p class="design__p"> Colores
    </p>
    <input class=" design__palette" type="radio" value="1" name="palette" checked />
    <div class="design__palette__box">
        <div class="design__palette__box--1left"></div>
        <div class="design__palette__box--1middle"></div>
        <div class="design__palette__box--1right"></div>
    </div>
    <input class="design__palette" type="radio" value="2" name="palette" />
    <div class="design__palette__box">
        <div class="design__palette__box--2left"></div>
        <div class="design__palette__box--2middle"></div>
        <div class="design__palette__box--2right"></div>
    </div>
    <input class="design__palette" type="radio" value="3" name="palette" />
    <div class="design__palette__box">
        <div class="design__palette__box--3left"></div>
        <div class="design__palette__box--3middle"></div>
        <div class="design__palette__box--3right"></div>
    </div>2
</fieldset>