<fieldset class="design">
    <div class="design__head">
        <div class="design__head__intro">
            <i class="fa-regular fa-object-ungroup box--element icon-main design__icon"></i>
            <legend class="design__head__title"> Diseña
            </legend>
        </div>
        <i class="fa-solid fa-angle-up design__head__arrow js-arrow-up"></i>
        <!-- <i class="fa-solid fa-angle-down design__arrow js-arrow-down"></i> -->
    </div>

    <!--Disappears when the menu is toggled-->
    <div class="design__palette">
        <div class="design__palette__box js-palette-one">
            <input class="design__palette__box--selector" type="radio" value="1" name="palette" checked />
            <div class="design__palette__box--1left minibox"></div>
            <div class="design__palette__box--1middle minibox"></div>
            <div class="design__palette__box--1right minibox"></div>
        </div>
        <div class="design__palette__box js-palette-two">
            <input class="design__palette__box--selector" type="radio" value="2" name="palette" />
            <div class="design__palette__box--2left  minibox"></div>
            <div class="design__palette__box--2middle minibox"></div>
            <div class="design__palette__box--2right minibox"></div>
        </div>
        <div class="design__palette__box js-palette-three">
            <input class="design__palette__box--selector" type="radio" value="3" name="palette" />
            <div class="design__palette__box--3left minibox"></div>
            <div class="design__palette__box--3middle minibox"></div>
            <div class="design__palette__box--3right minibox"></div>
        </div>
    </div>
</fieldset>