<main class="main">
    <h1 class="h1">Crea tu tarjeta de visita</h1>
    <p class="subtitle-main">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <div class="box">
        <i class="fa-regular fa-object-ungroup box--element icon-main"></i>
        <i class="fa-solid fa-keyboard box--element icon-main"></i>
        <i class="fa-solid fa-share-nodes box--element icon-main"></i>
        <p class="box--element box--text">Diseña</p>
        <p class="box--element box--text">Rellena</p>
        <p class="box--element box--text">Comparte</p>





    </div>
    <a href="../cards.html" class="start">Comenzar</a>
</main>