<section class="preview">
    <div class="preview__content">
        <div class="reset">
            <i class="fa-regular fa-trash-can fa-xs"></i>
            <input class="reset__input" type="reset" value="Reset" />
        </div>
        <article class="article">
            <div class="article__header">
                <h1 class="article__header--title">Nombre Apellido</h1>
                <h2 class="article__header--subtitle">Front-end developer</h2>
            </div>
            <div class="article__photo">
                <img class="article__photo--img" src="./assets/images/profile-picture.jpg" alt="Profile photo" />
            </div>
            <nav class="article__nav">
                <ul class="article__nav--list">
                    <li>
                        <a class="article__nav--link" href="#"><i class="fa-solid fa-mobile-screen-button fa-md"></i></a>
                    </li>
                    <li>
                        <a class="article__nav--link" href="#"><i class="fa-regular fa-envelope fa-md"></i></a>
                    </li>
                    <li>
                        <a class="article__nav--link" href="#"><i class="fa-brands fa-linkedin-in fa-md"></i></a>
                    </li>
                    <li>
                        <a class="article__nav--link" href="#"><i class="fa-brands fa-github-alt fa-md"></i></a>
                    </li>
                </ul>
            </nav>
        </article>
    </div>
</section>