<fieldset class="share">
    <!--Review button -submit-->
    <div class="share__intro">
        <span class="share__intro--titlebox">
            <i class="fa-solid fa-share-nodes icon-sharebox--element icon-main share__icon"></i>
            <legend class="share__title">Comparte
            </legend>
        </span>

        <i class="fa-solid fa-chevron-up"></i>
    </div>

    <div class="share__div">
        <div class="createbutton-on createbutton-of">
            <i class="fa-solid fa-address-card icon-id "></i>
            <span>Crear tarjeta</span>
        </div>
        <div class="lineRectangle">
        </div>
        <div class="shareresultbox">
            <span class="shareresultbox__text">La tarjeta ha sido creada:</span>
            <span class="shareresultbox__link">https://awesome-profile-card.com?id=A456DF0001</span>
            <div class="shareresultbox__twitterbox">
                <a href="" class="shareresultbox__twitterbox--twitter">
                    <i class="fa-brands fa-twitter tweet-icon"></i>
                    <span class="sharetwitter-text"> Compartir en twitter</span>
                </a>
            </div>
            <div class="lineRectangle">
            </div>
        </div>

    </div>
</fieldset>