<fieldset class="share">
    <!--Review button -submit-->
    <div class="share__head js-share-head">
        <span class="share__head__intro">
            <i class="fa-solid fa-share-nodes icon-sharebox--element icon-main share__icon"></i>
            <legend class="share__title">Comparte
            </legend>
        </span>
        <i class="fa-solid fa-angle-up share__head__arrow js-share-arrow-up "></i>
        <i class="fa-solid fa-angle-down share__head__arrow js-share-arrow-down collapsed"></i>
    </div>

    <div class="share__div js-share-big-box collapsed">
        <div class="createbutton-on js-create-button">
            <i class="fa-solid fa-address-card icon-id "></i>
            <span>Crear tarjeta</span>
        </div>
        <hr class="lineRectangle">
        <div class="shareresultbox collapsed js-share-result-box">
            <span class="shareresultbox__text">La tarjeta ha sido creada:</span>
            <span class="shareresultbox__link">https://awesome-profile-card.com?id=A456DF0001</span>
            <div class="shareresultbox__twitterbox">
                <a href="" class="shareresultbox__twitterbox--twitter">
                    <i class="fa-brands fa-twitter tweet-icon"></i>
                    <span class="sharetwitter-text"> Compartir en twitter</span>
                </a>
            </div>
            <hr class="lineRectangle">
        </div>

    </div>
</fieldset>