//Forms

@mixin titleForm() {
    text-transform: uppercase;
    color: $color-gunmetal;
    font-size: rem(18);
    font-weight: 600;
}

@mixin labelsForm() {
    color: $color-dark-green-blue;
    font-size: rem(14);
}

@mixin boxesForm() {
    border: solid 1px $color-hospital-green;
    height: rem(30);
    margin-top: rem(7);
    font-size: rem(14);
    padding-left: rem(10);
    margin-bottom: rem(18);
}

@mixin arrow() {
    color: $color-gunmetal;
    font-size: 18px;
    text-align: right;
   
}

@mixin iconForm() {
    font-size: rem(18); //to be checked
}

@mixin resetBorderForm() {
    border: 0; 
    border-bottom: rem(1);
    border-color: $color-white-two;
    border-bottom: 1px solid $color-light-grey-margins;
}