* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// input { //in reset
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//   }
:root {
  font-family: $font-familyOpenSans;
}