// fonts

$font-familyOpenSans: "Open Sans", sans-serif;
$font-familyMerriWeather: "Merriweather", serif;
$font-Montserrat: "Montserrat", sans-serif;

// colors

$color-black: #000;
$color-dark-green-blue: #114e4e;
$color-dirty-blue: #438792;
$color-hospital-green: #a2deaf;
$color-light-khaki: #f9f4dc;
$color-white-two: #ffffff;
$color-dull-orange: #e17334;
$color-white-four: #f5f5f5;
$color-gunmetal: #54585a;
$color-brownish-grey: #6b6b6b; //to be changed in palette
$color-black-white:#f5f5f550; 
$color-dried-blood: #420101;
$color-rusty-red: #bd1010;
$color-tomato: #e95626;
$color-slate: #3e5b65;
$color-faded-orange: #eab052;
$color-light-grey-blue: #a0c0cf;
$color-light-grey: #4c4c4c;
$color-black-whiteop:#4141414d; //to be changes in footer
$color-extra-light-grey: #c5c5c5; 
/* hexadecimal with 21 opacity */
$color-dull-orangeop: #e1733479;
$color-gradient: linear-gradient(#bfcdd0,#dde9ed);
$color-grey-not-orange: #d5d5d5;