.design {
    border: 0; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-bottom: rem(1);
    border-color: $color-white-two;
    &__intro {
    display: flex;
    gap: rem(10);
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: rem(30);
    align-items: center;
    }
    &__icon {
    order: -1;
    font-size: rem(18);
    }
    &__title {
    @include titleForm();
    }
    &__arrow {
    grid-column: 2/3;
    grid-row: 1/2;
    @include arrow();
    }
    &__p {
    font-size: rem(14);
    grid-column: 1/2;
    grid-row: 2/3;
    text-transform: uppercase;
    }
    &__palette {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: end;
        margin-bottom: rem(20);
    }
    &__palette__box {
        display: flex;
        margin-bottom: rem(20);
        &--1left {
            background-color: $color-dark-green-blue;
        }
        &--1middle {
            background-color: $color-dirty-blue;
        }
        &--1right {
            background-color: $color-hospital-green;
        }
        &--2left {
            background-color: $color-dried-blood;
        }
        &--2middle {
            background-color: $color-rusty-red;
        }
        &--2right {
            background-color: $color-tomato;
        }
        &--3left {
            background-color: $color-slate;
        }
        &--3middle {
            background-color: $color-faded-orange;
        }
        &--3right {
            background-color: $color-light-grey-blue;
        }
        &--selector {
            margin-right: rem(10); //how to change the dot in radio
        }
    }
}
.minibox { //review nesting
    width: 30px;
    height: 25px;
}