//background in main
//left margin in main

.design {
    border: 0;
    text-transform: uppercase;
    font-family: $font-familyOpenSans;
    color: $color-gunmetal;
    &__title { //mixin
    font-size: rem(18);
    font-weight: 600;
    }
    &__p {
    font-size: rem(14);
    }
    &__palette__general__box {
        display: inline;
        &--1left {
            width: 30px;
            height: 25px;
            background-color: $color-dark-green-blue;
        }
        &--1middle {
            width: 30px;
            height: 25px;
            background-color: $color-dirty-blue;
        }
        &--1right {
            width: 30px;
            height: 25px;
            background-color: $color-hospital-green;
        }
    }
}