footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1.5px solid $color-black-white;
    margin-top: 20px;
    padding: 20px;
}

.copy{
    font-family: $font-familyOpenSans;
    font-size: 14px;
    color: $color-light-grey;
}

.logo{
    width: 100px;
    margin-top: 10px;
}

/*  TABLET  */

@media all and (min-width: 768px) {
    .copy{
        justify-content: left;
    }
    .logo{
        width: 150px;
        justify-content: right;
    }
}