footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: rem(1.5) solid $color-black-white;
    margin-top: rem(20);
    padding: rem(20);
    @media all and (min-width: 768px) {
            flex-direction: row;   
            justify-content: space-between;
            margin: rem(-8);
        }
    }

.copy{
    font-family: $font-familyOpenSans;
    font-size: rem(14);
    color: $color-light-grey;
}

.logo{
    width: rem(100);
    margin-top: rem(10);
    @media all and (min-width: 768px) {
        width: rem(108);
    }
}