footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    border-top: 1.5px solid $color-black-white;
   /*  margin-top: 20px; */
   padding: 18px 61px 20px 61px;
    @media all and (min-width: 768px) {
            flex-direction: row;   
            justify-content: space-between;
            align-items: center;
      /*       margin: -8px; */
      padding: 10px 40px 10px 40px;
        }
    }

.copy{
    font-family: $font-familyOpenSans;
    font-size: 14px;
    color: #d5d5d5;
 
}

.logo{
    width: 103px;
    margin-top: 12px;
    @media all and (min-width: 768px) {
        width: 108px;
        margin-top: 0px;
    }
}