.header-cards{
    background-color: $color-white-two;
}

.profile-cards{
    margin: rem(31) rem(79) rem(30) rem(40);
    width: rem(200);
    @media all and (min-width: 768px) {
        margin: rem(31) rem(525) rem(30) rem(40); 
    }
}