header{
    display: flex;
    justify-content: center;
}

.profile-cards{
  /*   margin-top: 95px; */
  align-items: flex-end;
/*     width: 250px; */
    @media all and (min-width: 768px) {
    /*     margin-top: 350px; */
        width: 420px;
    }
}