.main-cards{
    @media all and (min-width: 768px) {
        background-image: linear-gradient($color-white-four, $color-white-two);
        display: flex;
        flex-direction: row-reverse;
        padding: rem(30) rem(40) rem(20) rem(40);
        gap: rem(25);
    }
}

.section{
    margin: rem(27) rem(20) rem(31) rem(20);
    @media all and (min-width: 768px) {
        margin: 0;
    }
}

