.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white-four;
  &__h1 {
    font-family: $font-familyMerriWeather;
    color: $color-dull-orange;
    font-size: rem(19.2);
    font-weight: 900;
    margin-top: 35.4px;
    @media all and (min-width: 768px) {
      font-size: rem(24);
      margin-top: 31px;
    }
  }
  &__subtitle {
    max-width: 268px;
    text-align: center;
    font-size: rem(12.8);
    color: $color-dark-green-blue;
    @media all and (min-width: 768px) {
      max-width: 320px;
      font-size: rem(16);
    }
  }
}


.box {
  width: 268px;
  height: 73.8px;
  padding: 15px 31.5px 17.8px 31.5px;
  border: solid 1.6px $color-dull-orange;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  border-radius: 4px;
  border: solid 1.6px $color-dull-orangeop;
  color: $color-gunmetal;

  @media all and (min-width: 768px) {
    border-radius: 5px;
    border: solid 2px $color-dull-orangeop;
    margin-top: 27px;
    column-gap: 24px;
    width: 325px;
    height: 86px;
    padding: 15px 20 22px 5px;
  }
  &__element {
    align-items: center;
    text-align: center;
    opacity: unset;
  }
  &__text {
    font-size: rem(12.8);
    @media all and (min-width: 768px) {
      font-size: rem(16);
    }
  }
}
.icon-main {
  font-size: rem(22.4);
  color: $color-dull-orange;
  @media all and (min-width: 768px) {
    font-size: rem(28);
  }
}

.start {
  padding: 10px 20px 10px 20px;
  margin-top: 38.6px;
  margin-bottom: 30px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white-two;
  border-radius: 21px;
  width: 129px;
  height: 42px;
  background-color: #438792;
  @media all and (min-width: 768px) {
    margin-top: 186px;
    width: 129px;
    height: 42px;
    margin-bottom: 59px;
  }
}
