.fieldset{
    border-color: transparent;
}

.share{

    font-family: $font-familyOpenSans;
    font-size: rem(18);
  font-weight: 600;
    text-transform: uppercase;
    color: $color-gunmetal;
   
}
.icon-share{
    font-size: rem(18);
    color: $color-dull-orange;
    margin-right: 12.5px;
}


.shareblock{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-familyOpenSans;
}

/* 
.createbutton-on{
    margin-top: 33px;
    background-color: $color-grey-not-orange;
    font-size: rem(18);
    font-weight: 600;
    font-family: $font-familyOpenSans;
    text-transform: uppercase;
    padding: 13px 18px 13px 17px;
    color: $color-white-two;
    border-radius: 12px;
    font-weight: 600;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
} */
.createbutton-of{
    margin-top: 33px;
    background-color: $color-dull-orange;
    font-size: rem(18);
    font-weight: 600;
    font-family: $font-familyOpenSans;
    text-transform: uppercase;
    padding: 13px 18px 13px 17px;
    color: $color-white-two;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
}
.icon-id{
    color: $color-white-two;
    margin-right: 9px;
}
.lineRectangle{
    width: 280px;
    height: 1px;
  background-color:#d8d8d8;
  margin: 30px 30px 20px 0;
  @media all and (min-width: 768px){
    width: 329px;
  
}

}
.shareresultbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result{
    color:$color-gunmetal;
    font-size: rem(18);
    margin-bottom: 5px;
}
.sharelink{
    font-size: rem(12);
    color:$color-dull-orange;
}
.sharetwitterbox{
margin-left: 20%;
margin-right: 20%;
    background-color: #00a0f5;
    display: flex;
    justify-content: center;
     margin-bottom: 30px;
     margin-top: 10px;
     border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}
.shareTwitter{
  
  
    text-decoration: none;
    color: $color-white-two;
  
    padding: 3px 9px 6px 10.5px;
    
}
.tweet-icon{
    align-items: center;
    font-size: rem(18);
    margin-right: 9.5px;

}
.sharetwitter-text{
    font-size: rem(14);
    font-family: $font-familyOpenSans;
    line-height: 1.43;
}
.collapsed{
    display: none;
}