@import 'core/variables';
@import 'core/reset';
@import 'core/functions';
@import 'core/mixins';
@import 'components/code';
@import 'components/links';
@import 'layout/header';
@import 'layout/main-landing';
@import 'layout/preview';
@import 'layout/footer';
/* @import 'layout/fill-cards';
@import 'layout/design-cards';
@import 'layout/share-cards'; */
@import 'pages/cards';

.headermain-main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-white-four;
    @media all and (min-width: 768px) {
        height: 94vh;
    }
 
}
.footer-main{
    height: 10vh;
    @media all and (min-width: 768px) {
        height: 6vh;
    }
}